body {
    font-family: 'Rubik', sans-serif;;
    background-color:#E93CAC;
}

header {
    text-align: center;
    background-color: blueviolet;
    color: aqua;
    padding: 15px;
}

.container {
    margin: 15px;
}

img {
    width:fit-content;
}

.bordered {
    border: 1px solid black;
  }
