body {
    font-family: 'Rubik', sans-serif;;
    background-color:#E93CAC;
}

header {
    text-align: center;
    background-color: blueviolet;
    color: aqua;
    padding: 15px;
}

.container {
    margin: 15px;
}

img {
    width:fit-content;
}

.bordered {
    border: 1px solid black;
  }

.btn {
    background-color: rgba(138, 43, 226, 0.5);
}

#sidebar {
    background-color: aqua;
    height: 100vh;
  overflow-y: auto;
}

h3 {
    color:blueviolet;
    padding: 25px;
}

#targetCity {
    background-color: aqua;
}